:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6rem;
  line-height: normal;
}

h2 {
  font-size: 3.75rem;
  line-height: normal;

}

p {
  font-weight: lighter;
  line-height: 1;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

canvas {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  position: relative;
}

.ui-container > * {
  margin: 0 1.5rem;
}

.ui-container > :first-child {
  margin-top: 1.5rem;
}

.ui-container > :last-child {
  margin-bottom: 1.5rem;
}

.ui-container {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.nav-bar ~ .ui-container {
  top: 10%;
  height: auto;
  justify-content: flex-start;
}

.header {
  margin-bottom: auto; /* Push carousel and control at bottom*/
  display: flex;
  justify-content: space-between;
}

.lens-carousel-container {
  /* background: rgba(0, 0, 0, 0.3); /* Optional: for better visibility */
  /* border-radius: 20px;  */
  padding: 24px 0;
}

.lens-item {
  width: 24px !important;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white 2px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.lens-item:hover {
  transform: scale(1.1);
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px; 
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-group {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 84px; /* Width size of snap attribution */
}

.left-group {
  justify-content: flex-start;
}

.center-group {
  justify-content: center;
  gap: 16px;  
}

.right-group {
  justify-content: flex-end;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: transparent;
  color: white;
  
  transition: background 0.2s, transform 0.1s;
  border: none;
  cursor: pointer;
}

button > * {
  /* filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.3)); */
}

.control-btn {
  min-width: 36px;
  padding: 0;
}

button:hover {
  transform: scale(1.1);
}

.control-btn:active {
  transform: scale(0.9);
}

/* Play/Pause Button - Bigger & White */
.play-btn {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: white;
  color: black;
}

.speed-btn > * {
  font-weight: bold;
}

.bg {
  background-image: url('./assets/img/bg2.png'); /* Adjust the path to your background image */
  background-size: cover;
  background-position: center;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.lesson-card {
  width: 100%;               
  max-width: 208px;          
  min-width: 150px;          
  aspect-ratio: 192 / 208; 
}

.lessons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.nav-bar {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
}

.nav-bar-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 1.5rem 1.5rem 0 1.5rem
}

.home-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}