:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-padding: 1.5rem;

  --green: #5FBC63;
  --red: #d02f47;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100svh;
  overflow: auto;

  background-image: url('./assets/img/bg2.png');
  background-size: cover;
  background-position: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100svh;
}

.app-container {
  padding: var(--main-padding);
  position: relative;
  width: 100%;
  min-height: 100svh;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
  line-height: normal;
  margin: 0;
}

h2 {
  font-size: 3.75rem;
  line-height: normal;

}

p {
  font-weight: lighter;
  line-height: 1;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

canvas {
  width: 100vw;
  height: 100svh;
  display: block;
  object-fit: cover;
  position: relative;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100svh - 2 * var(--main-padding));
}

.camera {
  padding: 0;
}

.ui-container > * {
  margin: 0 1.5rem;
}

.ui-container > :first-child {
  margin-top: 1.5rem;
}

.ui-container > :last-child {
  margin-bottom: 1.5rem;
}

.ui-container {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100svh;
}

.nav-bar ~ .ui-container {
  top: 10%;
  height: auto;
  justify-content: flex-start;
  min-height: calc(100svh - 10%);
}

.header {
  margin-bottom: auto; /* Push carousel and control at bottom*/
  display: flex;
  justify-content: space-between;
}

.tagline {
  line-height: 1.25;
}

.lens-carousel-container {
  /* background: rgba(0, 0, 0, 0.3); /* Optional: for better visibility */
  /* border-radius: 20px;  */
  padding: 24px 0 !important;
  width: 100%;
}

.lens-item {
  width: 24px !important;
  height: 24px !important;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: white 2px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.lens-item:hover {
  transform: scale(1.1);
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px; 
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-group {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 84px; /* Width size of snap attribution */
}

.left-group {
  justify-content: flex-start;
}

.center-group {
  justify-content: center;
  gap: 16px;  
}

.right-group {
  justify-content: flex-end;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: transparent;
  color: white;
  font: inherit;
  font-size: 0.75rem;
  
  transition: background 0.2s, transform 0.1s;
  border: none;
  cursor: pointer;
}

button > * {
  /* filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.3)); */
}

.control-btn {
  min-width: 36px;
  padding: 0;
}

button:hover {
  transform: scale(1.05);
}

.control-btn:active {
  transform: scale(0.9);
}

/* Play/Pause Button - Bigger & White */
.play-btn {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: white;
  color: black;
}

.speed-btn > * {
  font-weight: bold;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-button {
  margin: 0;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  border-radius: 100px;
}

.sec-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;

  background-color: white;
  color: black;
}

.card {
  width: 100%;               
  max-width: 208px;          
  min-width: 150px;          
  aspect-ratio: 192 / 208; 
}

.lessons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.nav-bar {
  /* position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;  */
  margin-bottom: var(--main-padding);
}

.nav-bar-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.home-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.lesson-header {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lesson-title {
  margin: 0;
}

.lesson-desc {
  width: 75%;
}

.signs-container {
  justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 1rem; 
}

.signs-container > .card {
  max-width: none;
}

@media (max-width: 600px) {
  .signs-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 1rem;
  }
}

.gradient-black {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%; /* Adjust height as needed */
  transform: translateX(-50%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 5%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.0) 20%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
  z-index: 0;
}

/* ===== Material Selection ===== */

.material-modal-title {
  text-align: left;
  padding-left: 5px;
}

.material-modal-content {
  height: auto !important;
  width: auto !important;
}

.material-selection {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  gap: 20px;
  flex-wrap: wrap;
}

.material-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  padding: 1rem 1.25rem 1rem 1.25rem;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid transparent;
}

.material-option img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.material-option > p {
  margin: 0.5rem;
}

.material-option.selected {
  border: 3px solid white;
  border-radius: 20px;
}