:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  position: relative;
}


.lens-carousel-container {
  position: absolute;
  bottom: 120px; /* Adjust spacing from bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: rgba(0, 0, 0, 0.3); /* Optional: for better visibility */
  border-radius: 20px;
}

.lens-swiper {
  padding: 20px 0;
}

.lens-item {
  width: 60px !important;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.lens-item:hover {
  transform: scale(1.1);
}

.lens-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.controls-group {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 84px; /* Width size of snap attribution */
}

.left-group {
  justify-content: flex-start;
}

.center-group {
  justify-content: center;
}

.right-group {
  justify-content: flex-end;
}

.control-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  transition: background 0.2s, transform 0.1s;
  border: none;
  cursor: pointer;
}

.control-btn:hover {
  background-color: #444;
}

.control-btn:active {
  transform: scale(0.9);
}

/* Play/Pause Button - Bigger & White */
.play-btn {
  width: 64px;
  height: 64px;
  background-color: white;
  color: black;
}